<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Contact Book{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content=" Book">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('newproject_upuser_all') }}">All Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <div class="container">
        <br>
        {% block content %}{% endblock %}
    </div>
</main>
{% block extraJs %}{% endblock %}
</body>
</html>