{% extends "base.html.twig" %}
{% block title %}Address book{% endblock %}
{% block content %}
<br><br>
    <div class="card" style="width: 40rem;">
        <table>
        <tr>
            <td>
<h3>Add Phone</h3>
    {{ form_start(form) }}<br>
    {{ form_widget(form) }}<br>
    {{ form_end(form) }}<br>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
